<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Properties>
        <!-- Example of Flogger Next backend naming configuration. -->
        <Property name="flogger.backend_naming.retain_at_most">4</Property>

        <!-- Flogger Next format pattern format with custom task ID formatting. -->
        <Property name="flogger.message_formatter.pattern">
            %{timestamp} %{level}[%{location}] %{key.task/task=/: }%{message}%{metadata/ [/]}
        </Property>
        <Property name="flogger.message_formatter.metadata.key.task">
            net.goui.flogger.examples.FloggerNextExamples$Key#TASK_ID
        </Property>

        <!-- Example of suppressing a known metadata key from appearing in %{metadata}. -->
        <Property name="flogger.message_formatter.metadata.ignore.size">1</Property>
        <Property name="flogger.message_formatter.metadata.ignore.0">
            com.google.common.flogger.LogContext$Key#LOG_EVERY_N
        </Property>
    </Properties>
    <!-- Normal Log4J2 setup. -->
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <!-- Demonstrate Flogger Next's formatting by not adding anything via Log4J. -->
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>